<% include ../includes/start.html %>
<div class="form popup">
    <form action="/login/" autocomplete="off">
        <div class="header">Welcome Back!</div>
        <div class="info">
            <input name="_csrf" type="hidden" value="<%= csrf %>"/>
            <input name="next" type="hidden" value="<%= next %>"/>
            <input class="input" type="text" name="email" placeholder="john@doe.com" required="required"/>
            <input class="input" type="password"name="password" placeholder="password" required="required"/>
        </div>
        <div class="submit">
            <input class="button" type="submit" value="Sign In"/>
        </div>
    </form>
    <div class="link">
        Don't have an account? <a href="/register/">Create one</a>
    </div>
</div>
<% include ../includes/end.html %>
