<% include ../includes/start.html %>
<div class="popup">
    <form action="/register/" autocomplete="off">
        <div class="header">Welcome to Imprint!</div>
        <div class="info">
            <input name="_csrf" type="hidden" value="<%= csrf %>"/>
            <input class="input" type="text" name="name" placeholder="John Doe" required="required"/>
            <input class="input" type="text" name="email" placeholder="john@doe.com" required="required"/>
            <input class="input" type="password"name="password" placeholder="password" required="required"/>
        </div>
        <div class="submit">
            <input class="button" type="submit" value="Register"/>
        </div>
    </form>
    <div class="link">
        Have an account? <a href="/login/">Sign In</a>
    </div>
</div>
<% include ../includes/end.html %>
