@import '../compless/all';
@import '../core/colors';

html body {
    text-align: center;

    .error {
        width: 100%;
        color: lighten(@body, 50%);
        font-family: Shift, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 64px;
        text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2);
    }
}
