<% include ../includes/start.html %>
<div class="dashboard">
    <% include ../includes/dashboard/header.html %>
    <div class="panels">
        <div class="sidebar">
            <div class="module">
                <div class="header">Account</div>
                <div class="listing">
                    <a class="item <%= (page == "account") ? "activated" : "" %>" href="/account/">Settings</a>
                    <a class="item <%= (page == "billing") ? "activated" : "" %>" href="/account/billing/">Plans & Billing</a>
                    <a class="item <%= (page == "payments") ? "activated" : "" %>" href="/account/payments/">Payment History</a>
                </div>
            </div>
        </div>
        <div class="content <%= page %>">

        </div>
    </div>
</div>
<% include ../includes/logo.html %>
<% include ../includes/end.html %>
