<% include ../includes/start.html %>
<div class="dashboard">
    <div class="header">
        <div class="project" data-key="<%= current_project.pub_id %>">
            <%= current_project.name %>
            <span class="<%= icons.dropdown %>"></span>
        </div>
        <div class="navigation">
            <div class="links">
                <a href="/help/">Help Center</a>
                <a href="/contact/?email=support">Email Support</a>
            </div>
            <div class="profile">
                <div class="name">
                    <%= user.name %>
                    <span class="<%= icons.dropdown %>"></span>
                </div>
                <div class="dropdown">
                    <a href="/account/">
                        <span class="<%= icons.user %>"></span>
                        Account
                    </a>
                    <a href="/logout/">
                        <span class="<%= icons.signout %>"></span>
                        Sign Out
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="projects">
        <div class="slider">
            <a class="project create" href="/dashboard/create/">
                <div class="display">+</div>
                <div class="name">New Project</div>
            </a>
            <% user.projects.forEach(function(project) { %>
                <a class="project" href="/dashboard/<%= project.pub_id %>/">
                    <div class="display">
                        <img src="<%= project.image %>"/>
                    </div>
                    <div class="name"><%=project.name %></div>
                </a>
            <% }); %>
        </div>
    </div>
    <div class="panels">
        <div class="sidebar"></div>
        <div class="content"></div>
    </div>
</div>
<% include ../includes/end.html %>
