<% include ../includes/start.html %>
<div class="dashboard">
    <div class="header">
        <div class="navigation">
            <div class="links">
                <a href="/help/">Help Center</a>
                <a href="mailto:support@imprint.io">Email Support</a>
            </div>
            <div class="profile">
                <div class="name">
                    <%= user.name %>
                    <span class="<%= icons.dropdown %>"></span>
                </div>
                <div class="dropdown">
                    <a href="/account/">
                        <span class="<%= icons.user %>"></span>
                        Account
                    </a>
                    <a href="/logout/">
                        <span class="<%= icons.signout %>"></span>
                        Sign Out
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="panels">
        <div class="sidebar"></div>
        <div class="content"></div>
    </div>
</div>
<% include ../includes/end.html %>
