<% include ../includes/start.html %>
<div class="dashboard">
    <div class="header">
        <div class="project" data-key="<%= current_project.pub_id %>">
            <%= current_project.name %>
            <span class="<%= icons.dropdown %>"></span>
        </div>
        <div class="navigation">
            <div class="links">
                <a href="/help/">Help Center</a>
                <a href="/contact/?email=support">Email Support</a>
            </div>
            <div class="profile">
                <div class="name">
                    <%= user.name %>
                    <span class="<%= icons.dropdown %>"></span>
                </div>
                <div class="dropdown">
                    <a href="/account/">
                        <span class="<%= icons.user %>"></span>
                        Account
                    </a>
                    <a href="/logout/">
                        <span class="<%= icons.signout %>"></span>
                        Sign Out
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="projects">
        <div class="slider">
            <a class="project create" href="/dashboard/create/">
                <div class="display">+</div>
                <div class="name">New Project</div>
            </a>
            <% user.projects.forEach(function(project) { %>
                <a class="project <%= (project.id == current_project.id) ? "activated" : "" %>" href="/dashboard/<%= project.pub_id %>/">
                    <div class="display">
                        <img src="<%= project.image %>"/>
                    </div>
                    <div class="name"><%=project.name %></div>
                </a>
            <% }); %>
        </div>
    </div>
    <div class="panels">
        <div class="sidebar">
            <div class="module">
                <div class="header">Engagement</div>
                <div class="listing">
                    <a class="item <%= (page == "surveys") ? "activated" : "" %>" href="/dashboard/<%= current_project.pub_id %>/surveys/">Surveys</a>
                    <a class="item <%= (page == "clarify") ? "activated" : "" %>"  href="/dashboard/<%= current_project.pub_id %>/clarify/">Clarify</a>
                    <a class="item <%= (page == "spotlight") ? "activated" : "" %>" href="/dashboard/<%= current_project.pub_id %>/spotlight/">Spotlight</a>
                </div>
            </div>
            <div class="module">
                <div class="header">Configure</div>
                <div class="listing">
                    <a class="item <%= (page == "settings") ? "activated" : "" %>" href="/dashboard/<%= current_project.pub_id %>/settings/">Settings</a>
                </div>
            </div>
        </div>
        <div class="content <%= page %>">
            <% if(page == "surveys") { %>
               <% include ./surveys.html %>
            <% } else if(page == "settings") { %>
                <% include ./settings.html %>
            <% } %>
        </div>
    </div>
</div>
<div class="logo">
    <img src="/img/logo.png"/>
    Imprint
</div>
<% include ../includes/end.html %>
