@import '../compless/all';
@import '../core/colors';

@zindex: 999999999;

#imprint_backdrop {
    position: fixed;
    z-index: @zindex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: none;
    .transition(all);

    &.activated {
        background: rgba(0, 0, 0, 0.5);
    }
}

.imprint_popup {
    position: absolute;
    top: -500px;
    left: 50%;
    z-index: @zindex + 1;
    width: 300px;
    margin-left: -150px;
    background: #fff;
    border: solid 1px #000;
    overflow: hidden;
    .border-radius(3px);
    .box-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
    .transition(all);

    &.activated {
        top: 50%;
    }

    .imprint_header {
        padding: 10px;
        font-size: 14px;
        color: #fff;
        background: #1EA1D8;
        border-bottom: solid 1px darken(#1EA1D8, 15%);
        .clearfix();

        .imprint_title {
            margin-top: 2px;
            .float-left();
        }

        .imprint_close {
            cursor: pointer;
            font-size: 10px;
            padding-top: 4px;
            text-align: center;
            background: lighten(#1EA1D8, 25%);
            width: 20px;
            height: 20px;
            .float-right();
            .border-radius(50%);
            .box-sizing(border-box);
            .box-shadow(inset 0 0 15px rgba(0, 0, 0, 0.1));

            &:hover {
                background: lighten(#1EA1D8, 20%);

                &:active {
                    background: lighten(#1EA1D8, 15%);
                }
            }
        }
    }

    .imprint_stars {
        padding: 10px;
    }
}
