@import '../compless/all';
@import '../core/colors';

html body {
    background: transparent;
    .transition(background);

    &.activated {
        background: rgba(0, 0, 0, 0.5);
    }

    .survey {
        position: absolute;
        top: -500px;
        opacity: 0;
        width: 300px;
        background: #fff;
        border: solid 1px lighten(#000, 30%);
        overflow: hidden;
        .transition(all);
        .border-radius(3px);
        .box-shadow(0 1px 4px rgba(0, 0, 0, 0.5));

        &.activated {
            opacity: 1;
        }

        .header {
            padding: 6px;
            text-align: center;
            color: #fff;
            font-size: 16px;
            background: #428BCA;
            font-weight: bold;
            text-shadow: 0 2px rgba(0, 0, 0, 0.2);
        }

        .stars {
            padding: 15px;
        }

        .questionnaire {
            padding: 10px;
            display: none;
        }

        .footer {
            padding: 6px 8px;
            background: darken(#fff, 3%);
            .clearfix();

            .button {
                padding: 4px 8px;
                text-align: center;
                font-size: 14px;
                color: #fff;
                cursor: pointer;
                .border-radius(3px);
                .transition(background);

                &.close {
                    background: #E84C3D;
                    margin-right: 4px;

                    &:hover {
                        background: darken(#E84C3D, 10%);

                        &:active {
                            background: darken(#E84C3D, 20%);
                        }
                    }
                }

                &.send {
                    background: #008AE6;

                    &:hover {
                        background: darken(#008AE6, 10%);

                        &:active {
                            background: darken(#008AE6, 20%);
                        }
                    }
                }
            }
        }
    }
}
