@import '../compless/all';
@import '../core/colors';

.dashboard {
    width: 1000px;
    margin: 30px auto;
    overflow: hidden;
    background: #fff;
    border: solid 1px darken(@popup, 10%);
    .box-shadow(~"2px 0 4px rgba(0,0,0,0.05), -2px 0 4px rgba(0,0,0,0.05)");
    .border-radius(4px);

    .header {
        font-size: 14px;
        color: lighten(@popup, 40%);
        padding: 15px;
        text-shadow: 0 -1px 0 darken(@popup, 10%);
        border-bottom: solid 1px darken(@popup, 10%);
        .linear-gradient(0deg, darken(@popup, 5%), darken(@popup, 3%));
        .box-shadow(inset 0 1px 0 lighten(@popup, 3%));
        .box-sizing(border-box);

        .navigation {
            .float-right();

            & > div {
                .float-left();
            }

            .links {
                margin-right: 30px;
                .clearfix();

                a {
                    margin-left: 15px;
                    .float-left();

                    &:hover {
                        color: lighten(@popup, 50%);

                        &:active {
                            color: #fff;
                        }
                    }
                }
            }

            .profile {
                position: relative;
                margin-right: 5px;

                &.activated {
                    .name {
                        color: #fff !important;
                    }

                    .dropdown {
                        display: block;
                    }
                }

                .name {
                    position: relative;
                    z-index: 2;
                    cursor: pointer;
                    color: lighten(@popup, 50%);

                    &:hover {
                        color: lighten(@popup, 55%);

                        &:active {
                            color: #fff;
                        }
                    }

                    span {
                        margin-left: 2px;
                    }
                }

                .dropdown {
                    position: absolute;
                    z-index: 1;
                    top: -8px;
                    left: -8px;
                    right: -8px;
                    padding-top: 35px;
                    background: @popup;
                    overflow: hidden;
                    display: none;
                    .border-radius(3px);
                    .box-shadow(0 0 2px darken(@popup, 10%));

                    a {
                        display: block;
                        padding: 8px 12px;
                        border-top: solid 1px darken(@popup, 4%);
                        .box-shadow(inset 0 1px 0 lighten(@popup, 4%));

                        &:hover {
                            background: darken(@popup, 5%);
                            border-top: solid 1px darken(@popup, 9%);
                            .box-shadow(inset 0 1px 0 darken(@popup, 5%));

                            & + a {
                                border-top: solid 1px darken(@popup, 9%);
                            }

                            &:active {
                                background: darken(@popup, 10%);
                                border-top: solid 1px darken(@popup, 14%);
                                .box-shadow(inset 0 1px 0 darken(@popup, 10%));

                                & + a {
                                    border-top: solid 1px darken(@popup, 14%);
                                }
                            }
                        }

                        span {
                            margin-right: 5px;
                        }

                    }
                }
            }
        }
    }

    .panels {
        position: relative;

        .sidebar {
            position: absolute;
            top: 0;
            left: 0;
            width: 160px;
            min-height: 600px;
            background: lighten(@popup, 55%);
            border-right: solid 1px lighten(@popup, 52%);
            .box-sizing(border-box);
        }

        .content {
            position: relative;
            margin-left: 160px;
            background: #fff;
            min-height: 600px;
            padding: 15px;
            .calc-width(~"100% - 160px");
            .box-sizing(border-box);
        }
    }
}
