<div id="imprint_backdrop"></div>
<div id="imprint_survey" class="imprint_popup">
    <% if(header) { %>
        <div class="imprint_header">
            <span class="imprint_title"><%= header %></span>
            <span class="imprint_close">X</span>
        </div>
    <% } %>
    <div class="imprint_rating">
        <div class="imprint_stars">
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
        </div>
        <div class="imprint_description"></div>
    </div>
    <div class="imprint_questionaire">
        <div class="imprint_question"></div>
        <textarea class="imprint_response" placeholder="<%= placeholder %>"></textarea>
    </div>
    <div class="imprint_submit">
        <input class="imprint_button" type="submit" value="<%= button %>"/>
    </div>
</div>
