<div id="imprint_backdrop"></div>
<div id="imprint_survey" class="imprint_popup">
    <% if(header) { %>
        <div class="imprint_header">
            <span class="imprint_title"><%= header %></span>
            <span class="imprint_close">X</span>
        </div>
    <% } %>
    <div class="imprint_stars">
        <div class="imprint_star"></div>
        <div class="imprint_star"></div>
        <div class="imprint_star"></div>
        <div class="imprint_star"></div>
        <div class="imprint_star"></div>
    </div>
    <div class="imprint_questionaire">
        <div class="imprint_question"></div>
        <div class="imprint_response"></div>
    </div>
</div>
