<div class="imprint_backdrop"></div>
<div class="imprint_popup">
    <% if(header) { %>
        <div class="imprint_header"><%= header %></div>
    <% } %>
    <div class="imprint_stars">
        <div class="imprint_star"></div>
        <div class="imprint_star"></div>
        <div class="imprint_star"></div>
        <div class="imprint_star"></div>
        <div class="imprint_star"></div>
    </div>
    <div class="imprint_questionaire">
        <div class="imprint_question"></div>
        <div class="imprint_response"></div>
    </div>
</div>
